  <fieldset>
    <legend>Gallery</legend>
  </fieldset>
<div class="col-md-12">
  <% @themes.each do |theme| %>
  <%= link_to theme_pictures_path(theme.id) do %>
  <div class="col-md-3">
    <div class="img-wrapper">
      <div class="imgbox">
        <img src="<%= frontpicture(theme.id)%>">
        <span class="caption fade-caption">
          <h3><%= theme.name%></h3>
          <p>Text den du möchtest</p>
        </span>
      </div>
    </div>
  </div>
  <% end %>
  <% end %>
</div>
