<fieldset>
	<div class="toptitle"><%=t(".title")%></div>
</fieldset>
<% news = News.all.order("created_at DESC").last(1) %>
<% news.each do |news| %>
 <div class="panel panel-default" >
 	<div class="panel-body">
 		<p><%= l(news.created_at, format: "%D %B %Y" ) %></p>
 	 	<h3><%= news.title %></h3>
	 	<div class="post_text">
	 		<%= (news.content).html_safe%>
	 	</div>
 	</div>
 </div>
<% end %>
