<% if notice %>
	<p id="notice"><%= notice %></p>
<% end %>
<div class="col-md-12">
	<% @pictures.each do |picture| %>
		<div class="col-md-3">
			 <div class="img-wrapper" id="iw2">
			    <div class="imgbox" id="2">
			        <img src="<%= picture.url%>">
			          <span class="caption fade-caption">
			          <h3><%= picture.name%></h3>
			          <p>Text den du möchtest</p>
			          </span>
			    </div>
		    </div>
		    <%= button_to "Add to Cart", line_items_path(picture_id: picture),  class: "btn btn-primary"%>
	  	</div>
	<% end %>
</div>