
  <fieldset>
    <div class="toptitle"><%= t('.title')%></div>
  </fieldset>

    <% @posts.each do |post| %>
      <div class="panel panel-default" style="height: 300px;">
      <div class="panel-heading"><%= (post.title).html_safe %></div>
        <div class ="panel-body">
            <div class="post_text">
              <%= (post.content).html_safe %>
            </div>
        </div>

      </div>
    <% end %>
<br>

<%= will_paginate @posts,
  :previous_label => t(".previous_label"),
  :next_label     => t(".next_label")%>