<div class="footer">

    <div class="socialmedia-wrapper">
        <div class="socialmedia-wrapper">
            <div class="fbsocial-roll"></div>
            <div class="gsocial-roll"></div>
            <div class="twsocial-roll"></div>
            <div class="pinsocial-roll"></div>
            <div class="lisocial-roll"></div>
        </div>
    </div>

</div>