<header>
    <div class="logo">Ayako Kyodo</div>
    <div class="nav-wrapper">
        <nav>
            <ul>
                <li><a href="index.html" accesskey="1" title="">Home</a></li>
                <li><a href="about.html" accesskey="2" title="">About</a></li>
                <li><a href="#" accesskey="3" title="">Gallery</a></li>
                <li><a href="<%= shop_path %>" accesskey="4" title="">Shop</a></li>
                <li><a href="kontakt.html" accesskey="5" title="">Kontakt</a></li>
            </ul>
        </nav>

    </div>
</header>